/* Global variables */
:root {
  --bg: #f1f1f1;
  --accent-bg: #ddd;
  --text: #333;
  --accent: #FF5722;
  --serif: Iowan Old Style, Apple Garamond, Baskerville, Georgia, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --sans: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  --mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

/* Change to dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #333;
    --accent-bg: #1a1a1a;
    --text: #f1f1f1;
  }
}

body {
  font-family: var(--sans);
  font-size: 1.25rem;
  text-align: justify;
  line-height: 1.5;
  background: var(--bg);
  color: var(--text);
  margin: 0;
}

p, img {
  margin: 1.5rem 0;
}

.content {
  display: block;
  margin: 0 auto;
  max-width: 40rem;
  padding: 0 1rem;
  background: var(--bg);
}

header {
  margin-bottom: 4rem;
  text-align: center;
}

h1,h2,h3 {
  line-height: 1.2;
  font-family: var(--sans);
  font-weight: bold;
}

h1 {
  font-size: 4rem;
  margin: 0 0 1.5rem 0;
  padding-top: 2rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2rem;
}

h2, h3 {
  margin: 3rem 0 0 0;
}

/* Reduce header size on mobile */
@media only screen and (max-width: 750px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.1rem;
  }
  h3 {
    font-size: 1.75rem;
  }
}

footer {
  font-family: var(--sans);
  font-size: 1rem;
  border-top: 1px solid var(--text);
  padding: 1rem 0;
  margin-top: 4rem;
  text-align: center;
}

a {
  color: var(--text);
  text-decoration-color: var(--accent);
  text-decoration-thickness: .15rem;
  transition: .2s;
}

a:hover {
  color: var(--accent);
}

img {
  max-width: 100%;
}

img+em {
  text-align: center;
  display: block;
  font-size: .9rem;
  font-family: var(--sans);
  margin: -1.5rem 0 2rem 0;
}

.sub-heading {
  font-style: italic;
  font-size: 1.3rem;
  margin-top: -1rem;
  font-family: var(--serif);
}

.small {
  font-size: .9rem;
}

.notice {
  border: 2px solid var(--text);
  background: var(--accent-bg);
  font-family: var(--sans);
  padding: 1rem;
  margin: 2rem 0;
  text-align: center;
}

.acknowledgements {
  font-family: var(--serif);
  font-size: 1rem;
  border-top: 1px solid var(--text);
  margin-top: 5rem;
}

.acknowledgements h2 {
  font-family: var(--serif);
  font-size: 1.3rem;
}
