/* Global variables */
:root {
  --bg: #f1f1f1;
  --accent-bg: #ddd;
  --text: #333;
  --accent: #FF5722;
  --font: Georgia, "Times New Roman", Times, serif;
}

/* Change to dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #333;
    --accent-bg: #222;
    --text: #ccc;
  }
}

body {
  font-family: var(--font);
  font-size: 1.25rem;
  text-align: justify;
  line-height: 1.5;
  background: var(--bg);
  color: var(--text);
  margin: 0;
}

main {
  display: grid;
  grid-template-columns:
    1fr min(40rem, 90%) 1fr;
}

main>* {
  grid-column: 2;
}

.full-bleed {
  width: 100%;
  grid-column: 1 / -1;
  box-sizing: border-box;
}

header {
  margin-bottom: 1rem;
  text-align: center;
  padding-bottom: 1rem;
}

.container {
  display: block;
  max-width: 40rem;
  margin: 0 auto;
  padding: 0 1rem;
}

h1,h2,h3 {
  line-height: 1.2;
  font-weight: bold;
}

h1 {
  font-size: 4rem;
  margin: 0 0 1.5rem 0;
  padding-top: 2rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2rem;
}

h2, h3 {
  margin: 3rem 0 0 0;
}

/* Reduce header size on mobile */
@media only screen and (max-width: 750px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.1rem;
  }
  h3 {
    font-size: 1.75rem;
  }
}

footer {
  font-size: 1rem;
  border-top: 1px solid var(--text);
  padding: 1rem 0;
  margin-top: 4rem;
  text-align: center;
}

a {
  color: var(--text);
  text-decoration-color: var(--accent);
  text-decoration-thickness: .15rem;
  transition: .2s;
}

a:hover {
  color: var(--accent);
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

img+em {
  text-align: center;
  font-style: normal;
  display: block;
  font-size: .9rem;
}

.sub-heading {
  font-style: italic;
  font-size: 1.3rem;
  margin-top: -1rem;
}

.small {
  font-size: .9rem;
}

.notice {
  border: 2px solid var(--text);
  background: var(--accent-bg);
  padding: 1rem;
  margin: 2rem 0;
  text-align: center;
}

.acknowledgements {
  font-size: 1rem;
  border-top: 1px solid var(--text);
  margin-top: 5rem;
  padding-top: 1rem;
}

.acknowledgements h2 {
  font-size: 1.3rem;
}
