<!doctype html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% seo %}
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="icon" type="image/png" href="/assets/images/favicon.webp" />
    <!-- Testing Goat Counter analytics -->
    <script data-goatcounter="https://fuckedweb.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  </head>
  <body>

      <header>
        <div class="container">
          <h1>{{ page.title }}</h1>
          <p class="sub-heading">The web is fucked and there's nothing we can do about it. This is a manifesto by <a href="https://kevq.uk" target="blank">Kev Quirk</a> looking back at Web 1.0 and why it was better. </p>
          <p class="small">Last updated on: {{ site.time | date_to_string }}</p>
        </div>
      </header>

      <main>
        {{ content }}
      </main>

      <div class="acknowledgements">
        <div class="container">
          <h2>Acknowledgements</h2>
        <p>I'd like to thank both <a href="https://davidrutland.com/">David Rutland</a> and <a href="https://tdarb.org/">Bradley Taunt</a> for providing valuable feedback and helping me edit this manifesto.</p>
        </div>
      </div>

      <footer>
        <p><i>The Web Is Fucked</i> was written by <a target="blank" href="https://kevq.uk">Kev Quirk</a> and is licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>.</p>
      </footer>

  </body>
</html>
